/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
/* colors */
/* alpha colors */
/* gradient colors */
/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/* Wallet gradient background */
/* App Cards gradient background */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
/**
 * Define Breakpoints here.
 */
/* @define account-signup; weak */
.account-signup {
  margin: 1.6rem 1.6rem 0; }
  @media (min-width: 320px) and (max-width: 767px) {
    .account-signup {
      width: calc(100% + 4rem);
      border-radius: 1rem;
      padding: 0;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      margin: 0;
      background-color: var(--general-main-2);
      text-align: center; } }
  .account-signup .signup-separator-container {
    width: calc(100% + 40px);
    border-bottom: 1px solid var(--general-section-1);
    margin: 2.4rem 0 1.4rem; }
    @media (min-width: 320px) and (max-width: 767px) {
      .account-signup .signup-separator-container {
        display: none; } }
  .account-signup__error-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.8rem;
    margin: 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      .account-signup__error-wrapper {
        margin-left: unset; } }
  .account-signup__receive-update-checkbox .dc-checkbox__box {
    align-self: flex-start;
    margin: 0.1rem 0.8rem 0; }
  .account-signup__receive-update-checkbox .dc-checkbox__label {
    font-size: 1.2rem;
    line-height: 1.5; }
  @media (min-width: 320px) and (max-width: 767px) {
    .account-signup__receive-update-checkbox {
      margin-bottom: 3rem; } }
  .account-signup__hidden-checkbox {
    visibility: hidden; }
  .account-signup__residence-selection, .account-signup__password-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap column;
    background-color: var(--general-main-2);
    width: calc(100% + 8rem);
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%); }
    @media (min-width: 320px) and (max-width: 767px) {
      .account-signup__residence-selection, .account-signup__password-selection {
        width: calc(100% + 1rem);
        max-width: 35rem;
        background-color: var(--general-main-2); } }
  @media (min-width: 320px) and (max-width: 767px) {
    .account-signup__residence-selection .dc-select-native {
      margin-bottom: 4.8rem; } }
  .account-signup__password-selection .account-signup__heading {
    padding-top: 1.5rem;
    margin-bottom: 3.3rem; }
    @media (min-width: 320px) and (max-width: 767px) {
      .account-signup__password-selection .account-signup__heading {
        padding-top: 0;
        text-align: center; } }
  .account-signup__password-selection .dc-password-meter__container {
    max-height: 4rem;
    margin-bottom: 3.3rem; }
    @media (min-width: 1024px) {
      .account-signup__password-selection .dc-password-meter__container {
        width: calc(100% - 3.2rem); } }
    @media (min-width: 320px) and (max-width: 767px) {
      .account-signup__password-selection .dc-password-meter__container {
        width: 100%; } }
  .account-signup__password-selection .dc-field--error {
    top: 4.4rem; }
  @media (min-width: 320px) and (max-width: 767px) {
    .account-signup__password-selection .initial-loader__barspinner {
      margin: 0; } }
  .account-signup__heading {
    margin-bottom: 0.8rem; }
  .account-signup__text {
    text-align: center;
    margin-bottom: 3.3rem; }
  .account-signup__subtext {
    margin: 1rem 0 2.4rem; }
    @media (min-width: 320px) and (max-width: 767px) {
      .account-signup__subtext {
        margin-bottom: 3.4rem; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .account-signup__subtext--error {
        margin-top: -1.4rem;
        margin-bottom: 0.8rem; } }
  .account-signup__btn {
    align-self: flex-end;
    margin: 0;
    background-color: var(--button-primary-default);
    font-weight: bold;
    color: var(--text-colored-background); }
    .account-signup__btn:hover {
      background-color: var(--button-primary-hover); }
    .account-signup__btn--disabled {
      opacity: 0.32;
      cursor: not-allowed; }
    @media (min-width: 320px) and (max-width: 767px) {
      .account-signup__btn {
        width: 100%;
        height: 4rem;
        margin-top: 1.6rem; } }
  .account-signup__residence-field {
    margin-bottom: 2.7rem; }
    @media (min-width: 1024px) {
      .account-signup__residence-field {
        min-width: 30rem; } }
  .account-signup__password-field {
    width: 100%; }
  @media (min-width: 320px) and (max-width: 767px) {
    .account-signup .dc-select-native__placeholder {
      background-color: var(--general-main-2); } }

